<a href="https://colab.research.google.com/github/aniket20june/Big-Data-Project/blob/main/Big_Data_Project_On_Github.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [5]:
bd = pd.read_csv('gdrive/MyDrive/abc.csv', delimiter=',')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (16,19,20,21,22,23,25,32) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
bd

                 End of Period  ...  Last Disbursement Date
0       06/30/2020 12:00:00 AM  ...                     NaN
1       06/30/2020 12:00:00 AM  ...                     NaN
2       06/30/2020 12:00:00 AM  ...                     NaN
3       06/30/2020 12:00:00 AM  ...                     NaN
4       06/30/2020 12:00:00 AM  ...                     NaN
...                        ...  ...                     ...
960444  08/31/2020 12:00:00 AM  ...                     NaN
960445  08/31/2020 12:00:00 AM  ...  11/13/1985 12:00:00 AM
960446  08/31/2020 12:00:00 AM  ...                     NaN
960447  08/31/2020 12:00:00 AM  ...  10/11/1983 12:00:00 AM
960448  08/31/2020 12:00:00 AM  ...                     NaN

[960449 rows x 33 columns]

In [7]:
a=bd.loc[bd['Country']=='India']

In [8]:
bd.drop(['Currency of Commitment', 'First Repayment Date', 'Closed Date (Most Recent)', 'Effective Date (Most Recent)', 'Board Approval Date', 'Agreement Signing Date', 'Last Repayment Date', 'First Repayment Date', 'Last Disbursement Date'],
        axis=1, inplace=True)

In [9]:
bd.drop(['Due 3rd Party'],axis=1,inplace=True)

In [10]:
bd.dropna(inplace=True)

In [11]:
bd.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 694595 entries, 0 to 960448
Data columns (total 24 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   End of Period              694595 non-null  object
 1   Loan Number                694595 non-null  object
 2   Region                     694595 non-null  object
 3   Country Code               694595 non-null  object
 4   Country                    694595 non-null  object
 5   Borrower                   694595 non-null  object
 6   Guarantor Country Code     694595 non-null  object
 7   Guarantor                  694595 non-null  object
 8   Loan Type                  694595 non-null  object
 9   Loan Status                694595 non-null  object
 10  Interest Rate              694595 non-null  float64
 11  Project ID                 694595 non-null  object
 12  Project Name               694595 non-null  object
 13  Original Principal Amount  694595 non-null  object
 14  Cancelled Amount           694595 non-null  object
 15  Undisbursed Amount         694595 non-null  object
 16  Disbursed Amount           694595 non-null  object
 17  Repaid to IBRD             694595 non-null  object
 18  Due to IBRD                694595 non-null  object
 19  Exchange Adjustment        694595 non-null  object
 20  Borrower's Obligation      694595 non-null  object
 21  Sold 3rd Party             694595 non-null  object
 22  Repaid 3rd Party           694595 non-null  object
 23  Loans Held                 694595 non-null  object
dtypes: float64(1), object(23)
memory usage: 132.5+ MB

In [12]:
bd.describe()

       Interest Rate
count  694595.000000
mean        4.510129
std         3.356111
min         0.000000
25%         0.690000
50%         5.460000
75%         7.250000
max        12.000000

In [13]:
bd.corr()

               Interest Rate
Interest Rate            1.0

In [18]:
x=['Interest Rate','Original Principal Amount','Cancelled Amount','Undisbursed Amount','Disbursed Amount','Repaid to IBRD','Due to IBRD','Exchange Adjustment',"Borrower's Obligation",'Sold 3rd Party','Repaid 3rd Party','Loans Held'  ]

In [17]:
bd2=bd[x]

In [19]:
bd2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 694595 entries, 0 to 960448
Data columns (total 12 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Interest Rate              694595 non-null  float64
 1   Original Principal Amount  694595 non-null  object
 2   Cancelled Amount           694595 non-null  object
 3   Undisbursed Amount         694595 non-null  object
 4   Disbursed Amount           694595 non-null  object
 5   Repaid to IBRD             694595 non-null  object
 6   Due to IBRD                694595 non-null  object
 7   Exchange Adjustment        694595 non-null  object
 8   Borrower's Obligation      694595 non-null  object
 9   Sold 3rd Party             694595 non-null  object
 10  Repaid 3rd Party           694595 non-null  object
 11  Loans Held                 694595 non-null  object
dtypes: float64(1), object(11)
memory usage: 68.9+ MB

In [20]:
y=bd2['Interest Rate'].values

In [22]:
features=set(bd2.columns)-set(['Interest Rate'])
x=bd2[features].values
x=x.reshape(7640545,-1)

In [23]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [24]:
trainx,testx,trainy,testy=train_test_split(x,y,test_size=0.2,random_state=0)

ValueError: ignored

In [ ]:
mdl=LinearRegression()

In [ ]:
mdl.fit(trainx,trainy)

In [ ]:
pred=mdl.predict(testx)

In [ ]:
acs=np.sqrt(mean_squared_error(testy,pred))
print(1-acs)

In [ ]:
bd['Region'].replace('AFRICA','Africa',inplace=True)
bd['Region'].replace('LATIN AMERICA AND CARIBBEAN','Latin America and Caribbean',inplace=True)
bd['Region'].replace('SOUTH ASIA','South Asia',inplace=True)
bd['Region'].replace('EAST ASIA AND PACIFIC','East Asia and Pacific',inplace=True)
bd['Region'].replace('EUROPE AND CENTRAL ASIA','Europe and Central Asia',inplace=True)
bd['Region'].replace('MIDDLE EAST AND NORTH AFRICA','Middle East and North Africa',inplace=True)

In [ ]:
bd['Region'].value_counts()

In [ ]:
sns.set(rc={'figure.figsize':(18,15)})
sns.boxplot(x='Region',y='Interest Rate',data=bd)

In [ ]:
sns.boxplot(x='Loan Type',y='Interest Rate',data=bd)

In [ ]:
sns.scatterplot(x='Original Principal Amount',y='Interest Rate',data=bd)

In [ ]:
pd.crosstab(index=bd['Interest Rate'],columns=bd['Country'])

In [ ]:
plt.hist(a['Interest Rate'])

In [ ]:
bd2.info()

In [ ]:
bd.describe()

In [ ]:
bd.columns

In [ ]:
np.unique(bd['End of Period']).size

In [ ]:
np.unique(bd['Loan Number']).size

In [ ]:
np.unique(bd['Region'])

In [ ]:
bd.head()

In [ ]:
np.unique(bd['Loan Type'])

In [ ]:
np.unique(bd['Loan Status'])

In [ ]:
np.unique(bd['Interest Rate']).size

In [ ]:
bd['Interest Rate'].isnull().sum()

In [ ]:
bd['Currency of Commitment'].isnull().sum()

In [ ]:
bd['Project ID'].isnull().sum()

In [ ]:
bd[['Project ID']]=bd[['Project ID']].fillna(value=0)

In [ ]:
bd['Project ID']=str(bd['Project ID'])

In [ ]:
bd['Project Name ']=str(bd['Project Name '])

In [ ]:
np.unique(bd['Project Name '])

In [ ]:
bd['Project Name '].isnull().sum()

In [ ]:
bd.describe()

In [ ]:
bd['Agreement Signing Date'].isnull().sum()

In [ ]:
bd['First Repayment Date'].isnull().sum()

In [ ]:
bd['Last Repayment Date'].isnull().sum()

In [ ]:
bd['Board Approval Date'].isnull().sum()

In [ ]:
bd.info()

In [ ]:
bd.corr()

In [ ]:
bd.columns

In [ ]:
bd=bd.drop(columns=['End of Period','Loan Number','Country Code','Guarantor Country Code','Currency of Commitment','Project ID','Project Name ','Cancelled Amount'],axis=1)

In [ ]:
bd.info()

In [ ]:
bd['Region'].replace('AFRICA','Africa',inplace=True)
bd['Region'].replace('LATIN AMERICA AND CARIBBEAN','Latin America and Caribbean',inplace=True)
bd['Region'].replace('SOUTH ASIA','South Asia',inplace=True)
bd['Region'].replace('EAST ASIA AND PACIFIC','East Asia and Pacific',inplace=True)
bd['Region'].replace('EUROPE AND CENTRAL ASIA','Europe and Central Asia',inplace=True)
bd['Region'].replace('MIDDLE EAST AND NORTH AFRICA','Middle East and North Africa',inplace=True)

In [ ]:
bd['Region'].replace('OTHER','Other',inplace=True)
bd['Region'].replace('AFRICA EAST','Africa East',inplace=True)
bd['Region'].replace('AFRICA WEST','Africa West',inplace=True)

In [ ]:
np.unique(bd['Region'])

In [ ]:
np.unique(bd['Country'])

In [ ]:
bd['Region'].isnull().sum()

In [ ]:
bd['Country'].isnull().sum()

In [ ]:
bd['Borrower'].isnull().sum()

In [ ]:
np.unique(bd['Borrower'])

In [ ]:
bd['Borrower']=bd['Borrower'].fillna("")

In [ ]:
for ind in bd.index:
  if(bd['Borrower'][ind]==""):
    bd['Borrower'][ind]=bd['Country'][ind]

In [ ]:
bd['Guarantor']=bd['Guarantor'].fillna('')

In [ ]:
for ind in bd.index:
  if(bd['Guarantor'][ind]==""):
    bd['Guarantor'][ind]=bd['Country'][ind]

In [ ]:
bd['Guarantor'].isnull().sum()

In [ ]:
np.unique(bd['Loan Type'])

In [ ]:
bd['Loan Type'].isnull().sum()

In [ ]:
np.unique(bd['Loan Status'])

In [ ]:
bd['Loan Status'].isnull().sum()

In [ ]:
bd['Interest Rate'].describe()

In [ ]:
bd['Interest Rate'].isnull().sum()

In [ ]:
bd['Interest Rate']=bd['Interest Rate'].fillna(0)